/* main.scss */

@font-face {
    font-family: 'InterItalic';
    src: url('../assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin: 10vh;
    padding: 0;
}

main {
    padding: 0 16px;
}

.hidden {
    display: none;
}

.app {
    max-width: 376px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        display: flex;
        align-items: center;
    }
}

.search-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;

    &__input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: #EEEFF0;
        font-size: 16px;
        padding-left: 48px;
        vertical-align: middle;

        &::placeholder {
            color: #5B5C5E;
        }
    }

    &__icon {
        position: absolute;
        left: 10px;
        padding: 8px 20px 8px 8px;
    }
}

.add-button {
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: #6B3C9B;
    color: #ffffff;
    padding: 10px 0;
    margin: 20px 0;
}

.notes {
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .note-card {
        padding: 10px;
        margin: 0px 4px 10px 4px;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title,
        &__content {
            font-size: 14px;
            margin: 0;
            color: #333333;
        }

        &__date {
            font-size: 12px;
            color: #5B5C5E;
            align-self: flex-start;
        }

        &__actions {
            display: flex;
            gap: 4px;
        }
    }
}
.note-form {
    padding: 10px;
    margin: 0px 4px 10px 4px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 12px;

    &__title,
    &__content {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        color: #333333;
    }
    &__content {
        height: 210px;
        max-height: 210px;
    }
    .button--add {
        background-color: #6B3C9B;
        color: white;
        padding: 8px 16px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        justify-content: flex-end;
    }
    .button--cancel {
        background-color: white;
        color: #0F75B8;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        justify-content: flex-end;
    }
}


.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    &__message {
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;

    &--small {
        width: 18px;
        height: 18px;
    }
}